@import url('https://fonts.googleapis.com/css?family=Charmonman');

* {
    margin: 0;
    padding: 0;
    /*border: 2px solid black; /**/
}

body {
    background: url("back.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    position: absolute;
    width: 60%;
    min-width: 500px;
    height: 60%;
    min-height: 300px;
    top: 20%;
    left: 20%;
    background-color: lightcyan;
    box-shadow: 5px 5px 5px lightskyblue;
    border-radius: 5px;
    opacity: 0.8;
    z-index: 10;
}

.register {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
}

.register > h2 {
    font-family: 'Charmonman', cursive;
    font-size: 2vmax;
    text-transform: capitalize;
    user-select: none;
}

.phrase {
    font-family: 'Charmonman', cursive;
    width: 50%;
    height: 50%;
    user-select: none;
    font-size: 1.8vmax;
}

a.register-button {
    display: block;
    width: 30%;
    height: 20px;
    color: white;
    background: #4E9CAF;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    font-weight: bold;
}

.login {
    position: absolute;
    width: 50%;
    height: 120%;
    min-width: 100px;
    top: -10%;
    left: 45%;
    background-color: lightskyblue;
    box-shadow: 5px 5px 5px lightcyan;
    border-radius: 5px;
    z-index: 20;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.login-form > input:not([type="submit"]) {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    text-transform: capitalize;
    background-color: lightskyblue;
    border: none;
    border-bottom: 2px solid white;
}

.login-form > input:not([type="submit"])::placeholder{
    color: white;
    font-weight: bold;
}

.login-form > input[type="submit"] {
    width: 60%;
    height: 40px;
    text-transform: capitalize;
    font-weight: bold;
}

.login-form > label {
    width: 100%;
    margin-top: 5px;
    text-transform: initial;
    display: flex;
}
.login-form > label > .remember-me {
    width: 50%; 
    height: 20px;
    padding: 10px 5px 10px 5px;
    background: #4E9CAF;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 13px;
}

.login-form > label > .remember-me:hover{
    transform: scale(1.08);
}
.login-form > label > a {
    width: 50%;
    height: 20px;
    margin-left: 15px;
    padding: 10px 5px 10px 5px;
    background: #4E9CAF;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}
.login-form > label > a:hover{
    transform: scale(1.08);
}

