.main {
	display: flex;
	position: fixed;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	flex-direction: column;
	align-items: center;
	min-width: 800px;
	overflow: scroll;
	font-family: 'Open Sans', sans-serif;
}

.profile-picture {
	display:flex;
	height: 50%;
	width: 30%;
	margin-top: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-image: url("myprofile.jpeg");
	background-size: cover;
	background-position: center center;
}

.profile-picture>img {
	height: 35%;
	width: 20%;
	position: relative;
	top: 70%;
	left: 40%;
	min-width: 100px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	height: 300px;
	background-color: var(--surface-color);
	color: var(--on-surface-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 10px;
}

.profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 80%;
	justify-content: space-around;
	padding-top: 15px;
}

.profile-info>h1 {
	text-transform: uppercase;
}

.profile-info>h2 {
	text-transform: capitalize;
	font-size: 16px;
}

.profile-picture>.button {
	height: 40px;
	width: 30px;
	position: relative;
	background-color: var(--secondary-color);
	color: var(--on-secondary-color);
	font-size: 30px;
	font-weight: 400;
	top: 80%;
	left: 60%;
}

.profile-picture>.button:hover {
	transform: scale(1.08);
	font-weight: bold;
}