.main {
	position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
	height: calc(100% - 50px);
}
.profile {
	display: flex;
	position: absolute;
	top: 10%;
	left: 35%;
	height: 80%;
	width: 30%;
	background-color:var(--surface-color);
	flex-direction: column;
	min-width: 400px;
}
.profile > .profile-header {
	display: flex;
	flex-direction: column;
	height: 70%;
	position: relative;
	background-image: url("myprofile.jpeg");
	background-position: center;
	background-size: cover;
	align-items: center;
}
.profile > .profile-header > img {
	height: 25%;
	width: auto;
	position: absolute;
	bottom: 30%;
}
.profile > .profile-header > .info {
	display: flex;
	text-transform: uppercase;
	position: absolute;
	bottom: 10%;
	flex-direction: column;
	align-items: center;
	height: 20%;
	width: auto;
	overflow: hidden;
	color: var(--on-primary-color);
}
.profile > .profile-header > .modify {
	height: 30px;
	width: 30px;
	position: absolute;
	bottom: -15px;
	right: 20px;
	background-color: var(--secondary-color);
	-webkit-appearance: none;
}

.profile > .profile-footer {
	height: 30%;
	position: relative;
	background-color: var(--secondary-color);
}

.profile > .profile-footer > .add-ons {
	display: flex;
	position: absolute;
	width: 100%;
	height: 50%;
}
.profile > .profile-footer > .add-ons > .item {
	border: 2px solid black;
}
