@keyframes movement {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

@keyframes to-left {
    from {
        left: 45%;
        opacity: 1;
        z-index: 100;
    }

    to {
        left: 5%;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes to-right {
    from {
        right: 45%;
        opacity: 1;
        z-index: 100;
    }

    to {
        right: 5%;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes to-front {
    from {
        opacity: 0;
        z-index: -1;
    }

    to {
        opacity: 1;
        z-index: 100;
    }
}

@keyframes to-back {
    from {
        opacity: 1;
        z-index: 100;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

.container {
    position: absolute;
    width: 60%;
    min-width: 500px;
    height: 60%;
    min-height: 300px;
    top: 20%;
    left: 20%;
    background-color: var(--primary-dark-color);
    border-radius: 5px;
}

.container>input::before {
    content: attr(value);
}

.container>input {
    color: var(--on-secondary-color);
    background: var(--secondary-color);
    text-transform: capitalize;
    z-index: 50;
}

.container>input:hover {
    transform: scale(1.08);
}

#login-button {
    position: absolute;
    width: 15%;
    height: 10%;
    top: 80%;
    right: 15%;
}

#register-button {
    position: absolute;
    width: 15%;
    height: 10%;
    top: 80%;
    left: 15%;
}

.have-account {
    font-family: 'Charmonman', cursive;
    font-size: 2vmax;
    text-transform: capitalize;
    user-select: none;
    color: var(--on-primary-color);
}

.phrase {
    font-family: 'Charmonman', cursive;
    width: 50%;
    height: 50%;
    user-select: none;
    font-size: 1.8vmax;
    color: var(--on-primary-color);
}

#login-zone {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 80%;
    top: 0;
    right: 0;
    z-index: 10;
}

#register-zone {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 10;
}

.panel {
    display: block;
    position: absolute;
    width: 50%;
    height: 120%;
    min-width: 100px;
    top: -10%;
    background-color: var(--surface-color);
    box-shadow: 0 0 1px var(--on-primary-color);
    z-index: 100;
    border-radius: 5px;
}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 10%;
    width: 80%;
    height: calc(100% - 60px);
    margin: auto;
}

form>input:not([type="submit"]) {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--on-surface-color);
    background-color: var(--surface-color);
    border: none;
    border-bottom: 2px solid var(--on-surface-color);
    font-weight: bold;
}

form>input:not([type="submit"])::placeholder {
    color: var(--on-surface-color);
    font-style: oblique;
}

form>input:not([type="submit"]):focus {
    outline: none;
}

form>button[type="submit"] {
    width: 60%;
    height: 40px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    border: 0;
}

#login-panel {
    left: 45%;
}

#login-form>label {
    width: 100%;
    margin-top: 5px;
    text-transform: initial;
    display: flex;
}

#login-form>label>.remember-me {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 20px;
    padding: 10px 5px 10px 5px;
    color: var(--on-secondary-color);
    background: var(--secondary-color);
    font-size: 13px;
}

#login-form>label>.remember-me:hover {
    transform: scale(1.08);
}

#login-form>label>a {
    width: 50%;
    height: 20px;
    margin-left: 15px;
    padding: 10px 5px 10px 5px;
    color: var(--on-secondary-color);
    background: var(--secondary-color);
    font-size: 13px;
}

#login-form>label>a:hover {
    transform: scale(1.08);
}

#register-panel {
    right: 45%;
    animation-name: to-back;
    animation-duration: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#register-form>.gender {
    display: flex;
    border-bottom: 2px solid var(--surface-color);
    color: var(--on-surface-color);
    font-weight: bold;
    font-size: 13px;
    user-select: none;
    padding-bottom: 7px;
    margin-top: 5px;
}

#register-form>.gender>input[type="radio"] {
    margin-left: 15px;
    margin-right: 5px;
}

#register-form>input[type="date"]:before {
    content: attr(placeholder) ":";
}

#register-form>input[type="date"] {
    color: var(--on-surface-color);
    font-style: oblique;
    font-weight: bolder;
    font-size: 12px;
}

#register-form>input[type="file"] {
    color: var(--on-surface-color);
    font-weight: bold;
    padding-top: 10px;
    height: 6%;
    font-size: 12px;
}

#register-button:checked {
    animation-name: to-back;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#login-button:checked {
    animation-name: to-back;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#register-button:checked~#register-panel {
    animation-name: to-front;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#register-button:checked~#login-panel {
    animation-name: to-left;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#login-button:checked~#register-panel {
    animation-name: to-right;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#login-button:checked~#login-panel {
    animation-name: to-front;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#register-button:checked~#login-zone {
    display: flex;
}

#register-button:checked~#register-zone {
    display: none;
}

#login-button:checked~#login-zone {
    display: none;
}

#login-button:checked~#register-zone {
    display: flex;
}

.title {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    height: 15%;
    border-radius: 5px 5px 0 0;
}

.panel:hover .title {
    position: absolute;
    width: 200%;
    left: -50%;
}

.title>.title-circle {
    display: flex;
    position: relative;
    top: -50%;
    width: 170px;
    height: calc(200% - 10px);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    font-size: 4vmax;
    border: 3px solid var(--primary-color);
    background-color: var(--on-primary-color);
}

.panel:hover .title>.title-circle {
    display: none;
}

.title .inner {
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 3vmax;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
}

.panel:hover .title .inner span:before {
    content: "faceßluff";
}

.panel:hover .title .inner:first-child {
    background-color: var(--primary-dark-color);
    color: var(--secondary-color);
    transform-origin: right;
    transform: perspective(200px) rotateY(-15deg);
    transition-duration: 1s;
    text-transform: capitalize;
}

.panel:hover .title .inner:last-child {
    background-color: var(--primary-color);
    color: var(--secondary-light-color);
    transform-origin: left;
    transform: perspective(200px) rotateY(15deg);
    transition-duration: 1s;
    text-transform: capitalize;
}

.panel:hover .title {
    background-color: transparent;
}

.panel:hover .title .inner span {
    position: absolute;
    animation: movement 5s linear infinite;
}

.panel:hover .title .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}