@import url('https://fonts.googleapis.com/css?family=Charmonman');

:root {
    --primary-color: #6200EE;
    --primary-light-color: #9E47FF;
    --primary-dark-color: #0400ba;
    --secondary-color: #03DAC6;
    --secondary-light-color: #66FFF9;
    --secondary-dark-color: #00A896;
    --background-color: #FFFFFF;
    --surface-color: #FFFFFF;
    --error-color: #C51162;
    --on-primary-color: #FFFFFF;
    --on-secondary-color: #000000;
    --on-background-color: #000000;
    --on-surface-color: #000000;
    --on-error-color: #FFFFFF;
}

.img-width-fill {
    width: 100%;
    height: auto;
}

.img-height-fill {
    width: auto;
    height: 100%;
}

.round {
    border-radius: 50%;
}

.button {
    -webkit-appearance: button;
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
}