@keyframes explode {
    0% {
        opacity: 0;
        transform: scale(10);
    }

    60% {
        opacity: 1;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drop-top {
    0% {
        opacity: 0;
        transform: translateY(20px);
        height: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        height: 0;
        opacity: 0;
    }
}

@keyframes drop-top-right {
    0% {
        opacity: 0;
        transform: rotate(45deg) translateY(19px);
        height: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateY(0);
        height: 0;
        opacity: 0;
    }
}

@keyframes drop-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
        width: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        width: 0;
        opacity: 0;
    }
}

@keyframes drop-bottom-right {
    0% {
        opacity: 0;
        transform: rotate(45deg) translateX(-19px);
        width: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateY(0);
        width: 0;
        opacity: 0;
    }
}

@keyframes drop-bottom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        height: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        height: 0;
        opacity: 0;
    }
}

@keyframes drop-bottom-left {
    0% {
        opacity: 0;
        transform: rotate(45deg) translateY(-19px);
        height: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateY(0);
        height: 0;
        opacity: 0;
    }
}

@keyframes drop-left {
    0% {
        opacity: 0;
        transform: translateX(20px);
        width: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        width: 0;
        opacity: 0;
    }
}

@keyframes drop-top-left {
    0% {
        opacity: 0;
        transform: rotate(45deg) translateX(19px);
        width: 10px;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateY(0);
        width: 0;
        opacity: 0;
    }
}

.main {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

.answer-question-panel {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
}

.answer-question-panel>form {
    position: absolute;
    margin: 5px 0;
    left: 10%;
    width: 80%;
    height: calc(100% - 10px);
}

.answer-question-panel>form>h2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
}

.answer-question-panel>form>div {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 5px;
    position: absolute;
    top: calc(50px + 5px);
    left: 0;
    width: 100%;
    height: calc(100% - 50px - 50px - 10px);
}

.answer-question-panel>form>div>label {
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    font-weight: bold;
    padding: 0 20px;
    color: var(--on-primary-color);
    background-color: var(--primary-light-color);
}

.answer-question-panel>form>div>label>input[type="radio"] {
    position: relative;
    width: 12px;
    min-width: 12px;
    height: 12px;
    padding: 0;
    background-color: var(--on-primary-color);
    border-radius: 50%;
}

.radio-animation {
    position: relative;
    left: -23px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 5px solid var(--on-primary-color);
    opacity: 0;
    border-radius: 50%;
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation {
    opacity: 1;
    animation-name: explode;
    animation-duration: 0.3s;
}

.radio-animation>.dot {
    position: absolute;
    background-color: var(--on-primary-color);
    opacity: 1;
}

.radio-animation>.dot:nth-child(1) {
    left: 11px;
    top: -21px;
    width: 2px;
    height: 10px;
    transform: translateY(20px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(1) {
    animation-name: drop-top;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.radio-animation>.dot:nth-child(2) {
    left: 31px;
    top: -13px;
    width: 2px;
    height: 10px;
    transform: rotate(45deg) translateY(19px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(2) {
    animation-name: drop-top-right;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.radio-animation>.dot:nth-child(3) {
    right: -21px;
    top: 11px;
    width: 10px;
    height: 2px;
    transform: translateX(-20px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(3) {
    animation-name: drop-right;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.radio-animation>.dot:nth-child(4) {
    right: -13px;
    top: 31px;
    width: 10px;
    height: 2px;
    transform: rotate(45deg) translateX(-19px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(4) {
    animation-name: drop-bottom-right;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.radio-animation>.dot:nth-child(5) {
    right: 11px;
    bottom: -21px;
    width: 2px;
    height: 10px;
    transform: translateY(-20px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(5) {
    animation-name: drop-bottom;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.radio-animation>.dot:nth-child(6) {
    right: 31px;
    bottom: -13px;
    width: 2px;
    height: 10px;
    transform: rotate(45deg) translateY(-19px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(6) {
    animation-name: drop-bottom-left;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.radio-animation>.dot:nth-child(7) {
    left: -21px;
    bottom: 11px;
    width: 10px;
    height: 2px;
    transform: translateX(20px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(7) {
    animation-name: drop-left;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.radio-animation>.dot:nth-child(8) {
    left: -13px;
    bottom: 31px;
    width: 10px;
    height: 2px;
    transform: rotate(45deg) translateX(19px);
}

.answer-question-panel>form>div>label>input[type="radio"]:checked~.radio-animation>.dot:nth-child(8) {
    animation-name: drop-top-left;
    animation-delay: 0.100s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.answer-question-panel>form>button {
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 30%;
    height: 50px;
    border: 0;
    font-weight: bold;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
}