.main {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

.friend-question-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.friend-question {
    display: flex;
    align-items: center;
    min-width: 300px;
    height: 50px;
    margin: 5px 0 5px 0;
    padding: 0 20px 0 10px;
    color: var(--on-primary-color);
}

.friend-question>img {
    width: 50px;
    user-select: none;
}

.friend-question>h2 {
    width: calc(40% - 50px);
    flex-grow: 100;
    margin-left: 10px;
    user-select: none;
}

.friend-question>h3 {
    width: 30%;
    margin-left: 10px;
    user-select: none;
}

.friend-question>a {
    width: 20%;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
}

.friend-question>.state-success {
    width: 20%;
    height: 60%;
    text-align: center;
    color: var(--success-color);
    user-select: none;
}

.friend-question>.state-error {
    width: 20%;
    height: 60%;
    text-align: center;
    color: var(--error-color);
    user-select: none;
}

.friend-question-panel>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
    user-select: none;
}

.friend-question-panel>ul {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    align-items: center;
    list-style-type: none;
    overflow: auto;
}

.friend-question-panel>ul:empty:before {
    content: attr(value);
}

.friend-question-panel>ul:empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    color: var(--on-error-color);
    background-color: var(--error-color);
}

.friend-question-panel>ul>li {
    background-color: var(--primary-color);
}

.friend-question-panel>ul>li:hover {
    background-color: var(--primary-light-color);
}