@keyframes request-panel-hide {
    from {
        width: 30%;
        opacity: 1;
        z-index: 100;
    }

    to {
        width: 0;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes request-panel-show {
    from {
        width: 0;
        opacity: 0;
        z-index: -1;
    }

    to {
        width: 30%;
        opacity: 1;
        z-index: 100;
    }
}

@keyframes hide-request-to-left {
    from {
        left: 30%;
    }

    to {
        left: 0;
    }
}

@keyframes hide-request-to-right {
    from {
        left: 0;
    }

    to {
        left: 30%;
    }
}

@keyframes friend-panel-widen {
    from {
        left: 37%;
        width: 56%;
    }

    to {
        left: 10%;
        width: 80%;
    }
}

@keyframes friend-panel-narrow {
    from {
        left: 10%;
        width: 80%;
    }

    to {
        left: 37%;
        width: 56%;
    }
}

.main {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

.request-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    animation-name: request-panel-show;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    background-color: var(--primary-dark-color);
}

.friend-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 56%;
    width: 37%;
    height: 80%;
    animation-name: friend-panel-narrow;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#hide-request:before {
    content: attr(value);
}

#hide-request {
    position: absolute;
    top: 45%;
    left: 60%;
    width: 10px;
    height: 10%;
    z-index: 100;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
    animation-name: hide-request-to-right;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#hide-request:checked {
    animation-name: hide-request-to-left;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#hide-request:checked~.request-panel {
    animation-name: request-panel-hide;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#hide-request:checked~.friend-panel {
    animation-name: friend-panel-widen;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.request-panel>ul {
    list-style-type: none;
}

.request-panel>ul:empty:before {
    content: attr(value);
}

.request-panel>ul:empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: var(--on-error-color);
    background-color: var(--error-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.request-panel>ul>li:hover {
    background-color: var(--primary-light-color);
}

.other-users {
    display: flex;
    align-items: center;
    min-width: 300px;
    grid-column-gap: 5px;
    height: 50px;
    margin: 5px 20px 5px 10px;
    text-decoration: none;
}

.other-users>img {
    width: 50px;
    user-select: none;
}

.other-users>a.text-cut {
    width: calc(60% - 50px);
    flex-grow: 100;
    margin-left: 10px;
    user-select: none;
    color: var(--on-primary-color);
    font-size: 1.5em;
    text-decoration: none;
}

.other-users>a.button {
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
}

.request-panel>ul .other-users>button {
    width: 20%;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
}

.request-panel>ul .other-users>button:first-child {
    margin-right: 5px;
}

.request-panel>ul .other-users>button:last-child {
    margin-left: 5px;
}

.friend-panel>form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    z-index: 50;
}

.friend-panel>form>input[type="text"] {
    width: calc(90% - 50px);
    height: 40px;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
    border: none;
    border-bottom: 2px solid var(--on-secondary-color);
    font-weight: bold;
}

.friend-panel>form>input[type="text"]::placeholder {
    color: var(--on-secondary-color);
    font-style: oblique;
    font-weight: bold;
}

.friend-panel>form>input[type="text"]:focus {
    outline: none;
}

.friend-panel>form>button[type="submit"] {
    width: 50px;
    height: 80%;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    border: 0
}

.friend-panel>form>button[type="submit"]:hover {
    transform: scale(1.2);
}

.friend-panel>form>button[type="submit"]:focus {
    outline: none;
}

.friend-panel>ul {
    position: relative;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    align-items: center;
    list-style-type: none;
}

.friend-panel>ul:empty:before {
    content: attr(value);
}

.friend-panel>ul:empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: var(--on-error-color);
    background-color: var(--error-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-panel>ul>li {
    background-color: var(--primary-color);
}

.friend-panel>ul>li:hover {
    background-color: var(--primary-light-color);
}

.other-users>a.text-cut:visited {
    color: var(--secondary-color);
}