.main {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	overflow: scroll;
}

.profile {
	display: flex;
	position: absolute;
	top: 10%;
	left: 35%;
	height: 80%;
	width: 30%;
	background-color: var(--surface-color);
	flex-direction: column;
	min-width: 400px;
}

.profile>.profile-header {
	display: flex;
	flex-direction: column;
	height: 85%;
	position: relative;
	background-image: url("../resources/img/myprofile.jpeg");
	background-position: center;
	background-size: cover;
	align-items: center;
}

.profile>.profile-header>img {
	height: 25%;
	width: auto;
	position: absolute;
	bottom: 30%;
}

.profile>.profile-header>.info {
	display: flex;
	text-transform: uppercase;
	position: absolute;
	bottom: 10%;
	flex-direction: column;
	align-items: center;
	height: 20%;
	width: auto;
	overflow: hidden;
	color: var(--on-primary-color);
}

.profile>.profile-header>.modify {
	height: 40px;
	width: 30px;
	position: absolute;
	bottom: -10px;
	right: 20px;
	background-color: var(--secondary-color);
	-webkit-appearance: none;
	z-index: 100;
}

.profile>.profile-header>.modify>img {
	padding-left: 5px;
}

.profile>.profile-footer {
	height: 15%;
	position: relative;
	background-color: var(--surface-color);
	color: var(--on-surface-color);
	display: flex;
	width: 100%;
	align-items: center;
}

.profile>.profile-footer>.followers-panel{
	display: flex;
	flex-direction: column;
	left: 120%;
	bottom:0;
    position: absolute;
    width: 80%;
	background-color: var(--primary-light-color);
	color: var(--on-primary-color);
    height: 300%;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.profile>.profile-footer>.followers-panel > h1 {
	text-transform: uppercase;
	width: 80%;
	text-align: center;
	border-bottom: solid 1px var(--on-primary-color);
}

.profile>.profile-footer>.friends-panel{
	display: flex;
	flex-direction: column;
	right: 120%;
	bottom: 0;
    position: absolute;
    width: 80%;
	background-color: var(--primary-light-color);
	color: var(--on-primary-color);
    height: 300%;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.profile>.profile-footer>.friends-panel > h1 {
	text-transform: uppercase;
	width: 80%;
	text-align: center;
	border-bottom: solid 1px var(--on-primary-color);
}
.profile>.profile-footer>.questions-panel{
	display: flex;
	flex-direction: column;
	right: 120%;
	top: -566.66%;
    position: absolute;
    width: 80%;
	background-color: var(--primary-light-color);
	color: var(--on-primary-color);
    height: 300%;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.profile>.profile-footer>.questions-panel > h1 {
	text-transform: uppercase;
	width: 80%;
	text-align: center;
	border-bottom: solid 1px var(--on-primary-color);
}
.profile>.profile-footer>.logout-panel{
	display: flex;
	flex-direction: column;
	left: 120%;
	top: -566.66%;
    position: absolute;
    width: 80%;
	background-color: var(--primary-light-color);
	color: var(--on-primary-color);
    height: 300%;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.profile>.profile-footer>.logout-panel > h1 {
	text-transform: uppercase;
	width: 80%;
	text-align: center;
	border-bottom: solid 1px var(--on-primary-color);
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
	position: absolute;
	left: -9999%;
}

input[type="checkbox"]+label {
	display: flex;
	width: 25%;
	height: 100%;
	position: relative;
	padding: 10px;
	cursor: pointer;
	color: black;
	background-color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
	justify-content: center;
	align-items: center;
}

input[type="checkbox"]:checked+label {
	color: white;
	background-color: var(--primary-dark-color);
}