.main {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

.question-panel {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.question-panel-header {
    display: flex;
    justify-content: space-around;
    height: 10%;
    background-color: var(--secondary-color);
}

.question-panel-header>h2{
    width: calc(90% - 50px);
}

.question-panel-header>a {
    width: 50px;
    height: 100%;
    padding: 0;
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
    border: 0
}

.question-panel-footer {
    display: grid;
    height: calc(90% - 5px);
    margin-top: 5px;
    grid-template-rows: calc((100% - 5px) / 2) calc((100% - 5px) / 2);
    grid-template-columns: calc((100% - 10px) / 3) calc((100% - 10px) / 3) calc((100% - 10px) / 3);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.question {
    overflow: hidden;
    color: var(--on-primary-color);
    background-color: var(--primary-color);
}

.new-question {
    overflow: hidden;
    background-color: var(--primary-light-color);
}

.new-question>button {
    width: 100%;
    height: 100%;
    color: var(--on-primary-color);
    background-color: var(--primary-light-color);
    border: 0;
}