.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.game-area {
    display: grid;
    height: 90%;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 5px;
    background-color: var(--surface-color);
}

.timer {
    position: relative;
    height: 10%;
    background-color: #333;
    height: 50px;
    width: 100%;
    bottom: 0;
}

.timer span {
    display: block;
    background: repeating-linear-gradient(-45deg, #000, rgba(0, 0, 0, 0) 25px, #FFF 25px, #FFF 50px);
    width: 100%;
    height: 50px;
    animation: timer 8s linear;
}

.timer span:before {
    content: "TIME LEFT";
    display: block;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: red;
}

@keyframes timer {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
        display: block;
    }
}

.wrapper>.game-area>div {
    width: 100%;
    margin-bottom: 1em;
    height: 100%;
    list-style: none;
    position: relative;
    background: #64ddf3;
}

.wrapper>.game-area>div:nth-child(1) input {
    -webkit-filter: hue-rotate(135.6206062665deg) brightness(1.172235352);
    filter: hue-rotate(135.6206062665deg) brightness(1.172235352);
    -webkit-animation-duration: 3.5320703444s;
    animation-duration: 3.5320703444s;
}

.wrapper>.game-area>div:nth-child(2) input {
    -webkit-filter: hue-rotate(144.0082872421deg) brightness(1.4180030358);
    filter: hue-rotate(144.0082872421deg) brightness(1.4180030358);
    -webkit-animation-duration: 4.1755570137s;
    animation-duration: 4.1755570137s;
}

.wrapper>.game-area>div:nth-child(3) input {
    -webkit-filter: hue-rotate(132.7865483434deg) brightness(1.547481014);
    filter: hue-rotate(132.7865483434deg) brightness(1.547481014);
    -webkit-animation-duration: 0.7291722683s;
    animation-duration: 0.7291722683s;
}

.wrapper>.game-area>div:nth-child(4) input {
    -webkit-filter: hue-rotate(28.677435656deg) brightness(1.9397561077);
    filter: hue-rotate(28.677435656deg) brightness(1.9397561077);
    -webkit-animation-duration: 2.4268381124s;
    animation-duration: 2.4268381124s;
}

.wrapper>.game-area>div:nth-child(5) input {
    -webkit-filter: hue-rotate(11.0167140249deg) brightness(1.1279364068);
    filter: hue-rotate(11.0167140249deg) brightness(1.1279364068);
    -webkit-animation-duration: 1.3113525141s;
    animation-duration: 1.3113525141s;
}

.wrapper>.game-area>div:nth-child(6) input {
    -webkit-filter: hue-rotate(59.4420203516deg) brightness(1.7870008677);
    filter: hue-rotate(59.4420203516deg) brightness(1.7870008677);
    -webkit-animation-duration: 3.3935421944s;
    animation-duration: 3.3935421944s;
}

.wrapper>.game-area>div:nth-child(7) input {
    -webkit-filter: hue-rotate(127.9085328614deg) brightness(1.4124744493);
    filter: hue-rotate(127.9085328614deg) brightness(1.4124744493);
    -webkit-animation-duration: 4.6464990971s;
    animation-duration: 4.6464990971s;
}

.wrapper>.game-area>div:nth-child(8) input {
    -webkit-filter: hue-rotate(350.3428549809deg) brightness(1.6161338196);
    filter: hue-rotate(350.3428549809deg) brightness(1.6161338196);
    -webkit-animation-duration: 4.4660092068s;
    animation-duration: 4.4660092068s;
}

.wrapper>.game-area>div:nth-child(9) input {
    -webkit-filter: hue-rotate(82.3354265537deg) brightness(1.1311702906);
    filter: hue-rotate(82.3354265537deg) brightness(1.1311702906);
    -webkit-animation-duration: 1.988378319s;
    animation-duration: 1.988378319s;
}

input[type="checkbox"] {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: crosshair;
    background: radial-gradient(red 10%, white 10%, white 30%, red 30%, red 50%, white 50%, white 80%, red 80%, red 100%);
    border-radius: 50%;
    display: block;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 6px solid red;
    -webkit-animation: hide-target infinite alternate ease-in-out;
    animation: hide-target infinite alternate ease-in-out;
    z-index: 1;
}

input[type="checkbox"]:before {
    content: '';
    display: block;
    background-color: black;
    height: 50%;
    width: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 6px);
    margin: 0 auto;
    z-index: -1;
}

input[type="checkbox"]:focus {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"]:checked {
    pointer-events: none;
    -webkit-filter: grayscale(1) opacity(0.75);
    filter: grayscale(1) opacity(0.75);
    -webkit-animation: none;
    animation: none;
}

input[type="checkbox"]:checked:after {
    content: '+1!';
    padding: .5em;
    margin: 1em 0 0 1.5em;
    font-size: 2.5em;
    font-weight: 600;
}

.shield {
    background: #724c20;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: all;
    z-index: 100;
}

@-webkit-keyframes hide-target {
    0% {
        top: 0;
    }

    25% {
        top: 50%;
    }

    100% {
        top: 0;
    }
}

@keyframes hide-target {
    0% {
        top: 0;
    }

    25% {
        top: 50%;
    }

    100% {
        top: 0;
    }
}

.gameover {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    animation: gameover 1s linear forwards;
    animation-delay: 8s;
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    line-height: 500px;
    user-select: none;
}

@keyframes gameover {
    0% {
        z-index: -1;
        height: 0;
    }

    100% {
        z-index: 10000;
        height: 100%;
    }
}