<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/create-question.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="create-question-panel">
                <input type='checkbox' id='add-remove' class="button"><!-- 1 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 2 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 3 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 4 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 5 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 6 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 7 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 8 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 9 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 10 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 11 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 12 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 13 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 14 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 15 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 16 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 17 -->
                <input type='checkbox' id='add-remove' class="button"><!-- 18 -->
                <form id="create-question-form" action="/question/create" method="post">
                    <input type="text" name="question" placeholder="Pregunta" required>
                    <div>
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 1 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 2 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 3 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 4 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 5 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 6 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 7 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 8 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 9 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 10 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 11 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 12 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 13 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 14 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 15 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 16 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 17 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta"><!-- 18 -->
                        <input type="text" name="wrong-answer" placeholder="Respuesta incorrecta" required><!-- 19 -->
                        <input type="text" name="correct-answer" placeholder="Respuesta correcta" required><!-- 20 -->
                    </div>
                    <button type="submit">Crear</button>
                </form>
            </div>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>