<!DOCTYPE html>
<html lang="es">

<head>
    <title>Error 404</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="../css/utils.css" />
    <link rel="stylesheet" href="../css/error.css" />
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="content">
                    <h1><%= status %></h1>
                    <p>/hello</p>
                    <h2><%= text.error %></h2>
                    <h2><%= text.stayAndPlay %></h2>
                    <h2>:)</h2>
                <a href="/profile" class="button">Profile</a>
            </div>
            <%- include(game) %>
        </div>
    </div>
</body>