<!DOCTYPE html>
<html lang="es">

<head>
    <title>Error 404</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="../css/utils.css" />
    <link rel="stylesheet" href="../css/error.css" />
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="content">
                <h1>404</h1>
                <p>
                    <%= url %>
                </p>
                <h2>This is not the page you are looking for</h2>
                <h2>stay here and play for a while</h2>
                <h2>:)</h2>
                <a href="profile.html" class="button">Profile</a>
            </div>
            <div class="game">
                <link rel="stylesheet" href="../css/target.css" />
                <div class="wrapper">
                    <div class="gameover">GAME OVER</div>
                    <div class="game-area">
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                        <div><input type="checkbox">
                            <div class="shield"></div>
                        </div>
                    </div>
                    <div class="timer">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>