<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="../css/utils.css" />
    <link rel="stylesheet" href="../css/friend-search.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="friend-search-panel">
                <h2 class="text-cut">Resultados de búsqueda: 'hello world'</h2>
                <ul value="There is no results.">
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src="../resources/img/avatar.png">
                            <h2 class="text-cut">Struart Minion</h2>
                            <button class="button">Send request</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>