<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/friend-search.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="friend-search-panel">
                <h2 class="text-cut">Resultados de búsqueda</h2>
                <ul value="No hay resultados"><%not_friends.forEach(element => {%>
                    <li>
                        <div class="other-users">
                            <img class="img-height-fill" src=<%="/img/user/" + element.id + "/avatar"%>>
                            <h2 class="text-cut"><%=element.username%></h2>
                            <a class="button" href=<%="/friend/request/"+ element.id%>>Enviar petición</a>
                        </div>
                    </li>
                <%});%></ul>
            </div>
        </div>
    </div>
</body>

</html>