<target>
    <link rel="stylesheet" href="/css/target.css" />
    <div class="game">
        <div class="wrapper">
            <div class="gameover">GAME OVER</div>
            <div class="game-area">
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
                <div><input type="checkbox">
                    <div class="shield"></div>
                </div>
            </div>
            <div class="timer">
                <span></span>
            </div>
        </div>
    </div>
</target>