<header>
    <link rel="stylesheet" href="../css/header.css" />
    <div class="header">
        <div class="nav-bar">
            <input type="checkbox" class="button" value="Menu">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li>
                    <a href="/friend">Amigos &#65516;</a>
                    <ul class="hidden-menu">
                        <li><a href="#">---</a></li>
                        <li><a href="#">---</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/question">Preguntas &#65516;</a>
                    <ul class="hidden-menu">
                        <li><a href="/question/create">Crear</a></li>
                    </ul>
                </li>
                <li><a>Contacto</a></li>
            </ul>
        </div>
        <div class="user">
            <label>
                <img class="round" src="/img/avatar"></img>
                <span><%= user.score ? user.score : 0 %></span>
            </label>
            <div class="mini-profile">
                <div class="profile-header">
                    <img class="round" src="/img/avatar"></img>
                    <h2><%= user.username %></h2>
                    <p><%= user.description %></p>
                </div>
                <div class="profile-footer">
                    <a href="/profile" class="button">Perfil</a>
                    <a href="/logout" class="button">Desconectar</a>
                </div>
            </div>
        </div>
    </div>
</header>