<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="../css/utils.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <%- include(person) %>
        <%- include("footer") %>
    </div>
</body>

</html>