<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/login-register.css" />
</head>

<body>
    <div class="container">
        <input type='radio' value="Entrar" name="login-register" id='login-button' class="button" <% if (typeof login !='undefined'
            && login) { %>
        checked
        <% } %>>
        <input type='radio' value="Registro" name="login-register" id='register-button' class="button" <% if (typeof
            register !='undefined' && register) { %>
        checked
        <% } %>>
        <div id="register-zone">
            <h2 class="have-account">Don´t have an account?</h2>
            <p class="phrase">To live a creative life, we must lose our fear of being wrong</p>
        </div>
        <div id="login-zone">
            <h2 class="have-account">Have an account?</h2>
            <p class="phrase">The best way to predict the future is to invent it</p>
        </div>
        <div id="login-panel" class="panel">
            <div class="title">
                <div class="inner">
                    <span></span>
                </div>
                <div class="title-circle">
                    fb
                </div>
                <div class="inner">
                    <span></span>
                </div>
            </div>
            <form id="login-form" action="/login" method="post" enctype="multipart/form-data">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Entrar</button>
            </form>
        </div>
        <div id="register-panel" class="panel">
            <div class="title">
                <div class="inner">
                    <span></span>
                </div>
                <div class="title-circle">
                    fb
                </div>
                <div class="inner">
                    <span></span>
                </div>
            </div>
            <form id="register-form" action="/register" method="post" enctype="multipart/form-data">
                <input type="text" name="username" placeholder="Nombre de usuario" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="password" name="password" placeholder="Repite tu contraseña" required>
                <input type="date" name="birthdate" value="2000-01-01" placeholder="Fecha de nacimiento" required>
                <div class="gender">
                    <input type="radio" name="gender" value="male"> Hombre<br>
                    <input type="radio" name="gender" value="female"> Mujer<br>
                    <input type="radio" name="gender" value="other" checked> Otro
                </div>
                <input type="file" name="avatar" />
                <button type="submit">Registro</button>
            </form>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>