<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/modify-profile.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="modify-profile">
                <div class="modify-profile-header">
                    <h1>modify profile</h1>
                </div>
                <div class="modify-profile-body">
                    <form id="modify-form" action="/profile/modify_profile" method="post" enctype="multipart/form-data">
                        <input type="text" name="username" placeholder="Username" value=<%user.username%>>
                        <input type="email" name="email" placeholder="Email" value=<%user.email%>>
                        <input type="password" name="password" placeholder="Password" value=<%user.password%>>
                        <input type="password" name="password" placeholder="Repeat your password" value=<%user.password%>>
                        <input type="date" name="birthdate" value="2000-01-01" placeholder="Birth date" value=<%user.birthdate%>>
                        <div class="gender">
                            <input type="radio" name="gender" value="male" <%if(user.gender === "male"){%> checked <%}%> > Male<br>
                            <input type="radio"  name="gender" value="female" <%if(user.gender ==="female"){%> checked <%}%>> Female<br>
                            <input type="radio"  name="gender" value="other"<%if(user.gender==="other"){%> checked <%}%>> Other
                        </div>
                        <input type="file" name="avatar"/>
                        <textarea name="description" placeholder="Description" rows="10" cols="30"></textarea>
                        <input type="submit" value="" class="modify button round">
                        <!--<img class="img-height-fill" src="../resources/icon/edit-icon.png">-->
                    </form>

                </div>


            </div>
        </div>
    </div>
    <%- include("footer") %>
</body>

</html>