<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/modify-profile.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="modify-profile">
                <div class="modify-profile-header">
                    <h1>modify profile</h1>
                </div>
                <div class="modify-profile-body">
                    <form id="modify-form" action="/link-to-form" method="post">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="password" name="repeat-password" placeholder="Repeat your password" required>
                        <input type="date" name="birth-date" value="2000-01-01" placeholder="Birth date" required>
                        <div class="gender">
                            <input type="radio" name="gender" value="male" checked> Male<br>
                            <input type="radio" class="radio-modified" name="gender" value="female"> Female<br>
                            <input type="radio" class="radio-modified" name="gender" value="other"> Other
                        </div>
                        <input type="file" />
                    </form>

                </div>
                <div class="modify-profile-footer">
                    <a class="modify button round" href="">
                        <img class="img-height-fill" src="../resources/icon/edit-icon.png">
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>