<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/personal-answer-question.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="answer-question-panel">
                <form id="answer-question-form" action="choose-question.html" method="post">
                    <h2 class="text-cut">¿Nintendo Switch, PS4, o Xbox One?</h2>
                    <div>
                        <label>
                            <input type='radio' name='answer' class="button">
                            <div class="radio-animation">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <p>Nintendo Switch</p>
                        </label>
                        <label>
                            <input type='radio' name='answer' class="button">
                            <div class="radio-animation">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <p>Yo soy más del ZX Spectrum</p>
                        </label>
                        <label>
                            <input type='radio' name='answer' class="button">
                            <div class="radio-animation">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <p>No me interesan los videojuegos</p>
                        </label>
                        <label>
                            <input type='radio' name='answer' class="button">
                            <div class="radio-animation">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <p>PS4</p>
                        </label>
                        <label>
                            <input type='radio' name='answer' class="button">
                            <div class="radio-animation">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <p>Create new answer</p>
                            <input type="text" name="new-answer" placeholder="New answer">
                        </label>
                    </div>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>