<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/profile.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="profile">
                <div class="profile-header">
                    <img src="../resources/img/avatar.png" class="round">
                    <div class="info-user">
                        <h2><%= user.username %></h2>
                        <p><%= user.gender %></p>
                        <p><%= user.score %> points</p>
                    </div>
                    <a class="modify button round" href="modify-profile.html"> <img class="img-height-fill" src="../resources/icon/edit-icon.png"></a>
                </div>
                <div class="profile-footer">
                    <input type="checkbox" id="check-friends" class="button" value="friends">
                    <input type="checkbox" id="check-questions" class="button" value="questions">
                    <input type="checkbox" id="check-followers" class="button" value="followers">
                    <input type="checkbox" id="check-logout" class="button" value="logout">
                    <div class="info-panel" id="friends-panel">
                        <h1 class="text-cut">friends</h1>
                    </div>
                    <div class="info-panel" id="questions-panel">
                        <h1 class="text-cut">questions</h1>
                        <h3 class="text-cut">10</h3>
                    </div>
                    <div class="info-panel" id="followers-panel">
                        <h1 class="text-cut">followers</h1>
                        <h3 class="text-cut">500</h3>
                    </div>
                    <div class="info-panel" id="logout-panel">
                        <h1 class="text-cut">logout</h1>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>