<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="../css/utils.css" />
    <link rel="stylesheet" href="../css/question.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="question-panel">
                <div class="question-panel-header">
                    <h2 class="text-cut">Preguntas seleccionadas aleatoriamente</h2>
                    <button><img src="../resources/icon/refresh-icon.png" class="img-height-fill"></button>
                </div>
                <div class="question-panel-footer">
                    <a href="choose-question.html" class="question button">
                        <h2>¿Cuál es la peor película de la historia?</h2>
                    </a>
                    <a href="choose-question.html" class="question button">
                        <h2>¿En qué escuela primaria estudiaste?</h2>
                    </a>
                    <a href="choose-question.html" class="question button">
                        <h2>¿Nintendo Switch, PS4, o Xbox One?</h2>
                    </a>
                    <a href="choose-question.html" class="question button">
                        <h2>¿Cuál es tu plato favorito?</h2>
                    </a>
                    <a href="choose-question.html" class="question button">
                        <h2>¿Cuál es el personaje más irritante de Juego de Tronos?</h2>
                    </a>
                    <a href="/create-question" class="new-question button">
                        <img src="../resources/icon/plus-icon.png" class="img-height-fill">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>