<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/question.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="question-panel">
                <div class="question-panel-header">
                    <h2 class="text-cut">Preguntas seleccionadas aleatoriamente</h2>
                    <a class="button" href="/question"><img src="../resources/icon/refresh-icon.png" class="img-height-fill"></a>
                </div>
                <div class="question-panel-footer">
                    <%questions.forEach(element => {%>
                    <a href=<%="/question/" + element.id + "/choose" %> class="question button">
                        <h2>
                            <%=element.question%>
                        </h2>
                    </a>
                    <%});%>
                    <a href="/question/create" class="new-question button">
                        <img src="../resources/icon/plus-icon.png" class="img-height-fill">
                    </a>
                </div>
            </div>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>